<div class="table-responsive">
  <%= render 'layouts/header' %>
  <%= link_to new_service_path, class: 'btn btn-xs btn-primary' do %>
    <span class="fa fa-plus"></span> Add service
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="port">Port</th>
        <th class="address">Address</th>
        <th class="status">Status</th>
      </tr>
    </thead>

    <tbody id="services">
    <% @services.each do |service| %>
      <script>$(window).load(function() { $.getScript('<%= services_item_path id: service.id %>.js'); }); </script>
      <tr class="" id="service<%= service.id %>">
        <td class="name"><%= link_to edit_service_path(service) do %><span class="fa fa-power-off"></span> <%= service.name %><% end %></td>
        <td class="port"><span class="fa fa-slack"> <%= service.port %></span></td>
        <td class="address"><span class="fa fa-desktop"> <%= service.address %></span></td>
        <td class="status"></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
