<% ping = ping(@service.address, @service.port) %>

// Color
<% if ping == 0 %>
$('#service<%= @service.id %>').addClass( "danger" );
<% else %>
$('#service<%= @service.id %>').addClass( "success" );
<% end %>

// Status
<% if ping == 0 %>
$('#service<%= @service.id %>>.status').html( '<span class="fa fa-power-off"></span> offline' );
<% else %>
$('#service<%= @service.id %>>.status').html( '<span class="fa fa-circle-o-notch"></span> <%= ping %> ms' );
<% end %>
