<%= form_for(@host) do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :position %>
    <%= f.number_field :position, class: 'form-control', value: @position %>
  </div>
  <div class="form-action">
    <%= button_tag ' Submit', class: 'btn btn-primary fa fa-check' %>
    <%= link_to ' Back', hosts_path, class: 'btn btn-default fa fa-reply' %>
    <%= link_to ' Delete', @host, method: :delete, class: 'delete btn btn-primary btn-danger fa fa-trash-o', data: { confirm: 'Are you sure?' } if @host.id? %>
  </div>
<% end %>
